
CONFIG = {
    "ca_certs": None, # Path to a CA Certfiles. If None the OS certs will be used.
    "http_proxy": { "proxy_hostname": "127.0.0.1", "proxy_port": 9091 },
    "client_id": "<ID>", ## The client id of the managed identity.
    "TEST": {
            "namespace_shortname": {
                "available_eh": ["eventhub1-tst", "eventhub2-tst" ],
                "namespace": "full-eventhub-namespace_name-tst"
            },
        },
    "PROD": {
            "namespace_shortname": {
                "available_eh": [ "eventhub1-prd" ],
                "namespace": "full-eventhub-namespace_name-tst"
            },
        }
}
